<!DOCTYPE html>
<html lang="zh-CN">
<head>
#@meta('未授权的请求')
</head>
<body>
    <div class="page page-error text-center">
        <header>
            <h1>403</h1>
            <p>对不起，您没有权限访问该资源！</p>
        </header>
        <a class="btn btn-primary btn-round" href="/admin" style="margin-right:10px;">回到首页</a>
        <a class="btn btn-round" href="javascript:history.back();">返回上页</a>
        <footer class="page-copyright">
            <p>WEBSITE BY 青创文社</p>
            <p>© 2021. All RIGHT RESERVED.</p>
        </footer>
    </div>
</body>
</html>